<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Run Log</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
	<div th:switch="${trainings}">
		<h2>Trainings</h2>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Duration (hh:mm:ss)</th>
					<th>Distance</th>
					<th>Avg speed (km/h)</th>
					<th>Calories</th>
					<th>Comments</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="training : ${trainings}">
					<td th:text="${training.date}"></td>
					<td th:text="${training.durationH + ':' + training.durationM + ':' + training.durationS}">
					</td>
					<td th:text="${training.distanceInKilometer}"></td>
					<td th:text="${#numbers.formatDecimal(training.avgSpeed, 2, 2)}"></td>
					<td th:text="${training.kCalBurned}"></td>
					<td th:text="${training.comment}"></td>
					<td><a th:href="@{/edit/{id}(id=${training.id})}">Edit</a></td>
					<td><a th:href="@{/delete/{id}(id=${training.id})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<p><a th:href="@{/add}">Add Training</a></p>
</body>

</html>