<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Run Log</title>
	<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div th:switch="${trainings}">
			<h2>Trainings</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Date</th>
						<th>Duration (hh:mm:ss)</th>
						<th>Distance</th>
						<th>Avg speed (km/h)</th>
						<th>Calories</th>
						<th>Comments</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="training : ${trainings}">
						<td th:text="${training.date}"></td>
						<td th:text="${training.durationHours + ':' + training.durationMinutes + ':' + training.durationSeconds}">
						</td>
						<td th:text="${training.distanceInKilometers}"></td>
						<td th:text="${#numbers.formatDecimal(training.averageSpeed, 2, 2)}"></td>
						<td th:text="${training.kCalBurned}"></td>
						<td th:text="${training.comment}"></td>
						<td><a th:href="@{/edit/{id}(id=${training.id})}" class="btn btn-success">Edit</a></td>
						<td><a th:href="@{/delete/{id}(id=${training.id})}" class="btn btn-danger">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p><a th:href="@{/add}" class="btn btn-primary">Add Training</a></p>
	</div>
</body>

</html>