<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Run Log</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div th:switch="${trainings}">
			<h2 th:text="#{trainings}"></h2>
			<table class="table">
				<thead>
					<tr>
						<th th:text="#{training.date}"></th>
						<th th:text="#{training.duration}"></th>
						<th th:text="#{training.distance}"></th>
						<th th:text="#{training.avgspeed}"></th>
						<th th:text="#{training.calories}"></th>
						<th th:text="#{training.comments}"></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="training : ${trainings}">
						<td th:text="${training.date}"></td>
						<td th:text="${#numbers.formatInteger(training.durationHours, 2) + ':' 
							+ #numbers.formatInteger(training.durationMinutes, 2) + ':' 
							+ #numbers.formatInteger(training.durationSeconds, 2)}">
						</td>
						<td th:text="${#numbers.formatDecimal(training.distanceInKilometers, 1, 2)}"></td>
						<td th:text="${#numbers.formatDecimal(training.averageSpeed, 1, 2)}"></td>
						<td th:text="${#numbers.formatInteger(training.kCalBurned, 0)}"></td>
						<td th:text="${training.comment}"></td>
						<td><a th:href="@{/edit/{id}(id=${training.id})}" class="btn btn-success" th:text="#{edit}"></a>
						</td>
						<td><a th:href="@{/delete/{id}(id=${training.id})}" class="btn btn-danger"
								th:text="#{delete}"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p><a th:href="@{/add}" class="btn btn-primary" th:text="#{add}"></a></p>
	</div>
</body>

</html>